# Virtual environment
venv/
.env

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg
*:Zone.Identifier
# Logs
*.log

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Local config and sensitive data
*.env
*.local
config/*.secret
*.key
*.pem

# Heroku-specific (avoid committing runtime or slugs)
.slugignore
*.bak
*.swp
trading_dev/sessions/my_telegram_client.session
trading_prod/logs/
#trading_prod/sessions/
trading_prod/venv/
trading_prod/requirements.txt
trading_test/
trading_dev/htmlcov/
trading_dev/jupyter/
trading_dev/processed_messages/
trading_dev/temp_messages/
trading_dev/logs/
*.pyc
__pycache__/
trading_dev/control/
trading_dev/demos/
trading_dev/pytest.ini
trading_dev/create_databases_dev.sql
trading_dev/config/channel_sync_config_old.yml
trading_dev/config/demo_config.yaml
